git+https://github.com/huggingface/transformers.git@v4.57.1
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
huggingface_hub
albumentations
beautifulsoup4
qwen-vl-utils
pyvips-binary
sentencepiece
opencv-python
docling-core
python-docx
torchvision
gradio_pdf
matplotlib
tokenizers
pdf2image
num2words
reportlab
html2text
easydict
protobuf
markdown
requests
pymupdf
loguru
hf_xet
spaces
pyvips
pillow
addict 
gradio
einops
httpx
click
torch
oss2
fpdf
timm
av
